<form>

  <div>
    <label>Revendedor</label>
    <input type="text">
  </div>

  <div>
    <label>Código</label>
    <input type="text">
  </div>

  <div>
    <label>CNPJ</label>
    <input type="text">
  </div>

  <div>
    <label>Inscrição estadual</label>
    <input type="text">
  </div>

  <div>
    <label>CEP</label>
    <input type="text">
  </div>

  <div>
    <label>Estado</label>
    <input type="text">
  </div>

  <div>
    <label>Cidade</label>
    <input type="text">
  </div>

  <div>
    <label>Endereço</label>
    <input type="text">
  </div>

</form>
