<form>

  <div>
    <label>Consumidor</label>
    <input type="text">
  </div>

  <div>
    <label>Nome do contato</label>
    <input type="text">
  </div>

  <div>
    <label>Email do contato</label>
    <input type="text">
  </div>

  <div>
    <label>Telefone do contato</label>
    <input type="text">
  </div>

  <div>
    <label>CNPJ</label>
    <input type="text">
  </div>

  <div>
    <label>CEP</label>
    <input type="text">
  </div>

  <div>
    <label>Estado</label>
    <input type="text">
  </div>

  <div>
    <label>Cidade</label>
    <input type="text">
  </div>

  <div>
    <label>Endereço</label>
    <input type="text">
  </div>

</form>
