<form>

  <div>
    <label>Mercadoria reclamada</label>
    <input type="text">
  </div>

  <div>
    <label>Número da NF</label>
    <input type="text">
  </div>

  <div>
    <label>Número de Série</label>
    <input type="text">
  </div>

  <div>
    <label>Marca do veículo no qual foi usada</label>
    <input type="text">
  </div>

  <div>
    <label>Modelo do veículo</label>
    <input type="text">
  </div>

  <div>
    <label>Equipamento</label>
    <input type="text">
  </div>

  <div>
    <label>Pressão utilizada</label>
    <input type="text">
  </div>

  <div>
    <label>Tipo do piso</label>
    <input type="text">
  </div>

  <div>
    <label>Lado do uso</label>
    <input type="text">
  </div>

  <div>
    <label>Relatar problema</label>
    <input type="text">
  </div>

</form>
