
    <link rel="stylesheet" href="/src/app/pages/login/login.component.css">
    <title>login</title>
<body>
    <main class="container">
      <form>
            <img src="/assets/logo_gripmaster1.png.webp" alt="GripMasterLogo">
            <div class="input-field">
                <input type="text" formControlName="login" name="login" id="username" placeholder="Usuário" required>
            </div>
            <div class="input-field">
                <input type="password" formControlName="password" name="senha" id="password" placeholder="Senha" required>
            </div>
            
            <button class="custom-button" type="submit">Login </button>
        </form>

        <div class="footer">
            <a href=""> <strong>Esqueci a senha</strong></a>
            </div>
    </main>
    <section class="images">
        <img src="/assets/empilhadeira.jpg" alt="imagem trator">
    </section>
</body>

