<div>
  <div>
    imagem
  </div>

  <div>
    <app-progresso-garantia></app-progresso-garantia>
    <div>Total de garantias</div>
    <app-progresso-garantia></app-progresso-garantia>
    <div>Garantias Encerradas</div>
  </div>

  <div>
    <app-progresso-garantia></app-progresso-garantia>
    <div>Garantias em aberto</div>
    <app-progresso-garantia></app-progresso-garantia>
    <div>Garantias em andamento</div>
  </div>

  <div>
    <app-progresso-garantia></app-progresso-garantia>
    <div>Crédito liberado a utilizar</div>
  </div>
</div>
